@charset "UTF-8";

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body {
  font-family: "Zen Kaku Gothic Antique", sans-serif;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,h2,p {
  text-align: center;
  line-height: 1.5;
  padding-bottom: 5px;
}

header {
  position: relative;
  height: 60px;
}

.logo {
  display: inline-block;
}

.logo img {
  height: 100%;
}

header .logo {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 40px;
}

header nav {
  display: none;
}

#key_visual {
  width: 100%;
}

#key_visual img {
  width: 100%;
  vertical-align: bottom;
  border-bottom: 1px solid #dee3e6;
}

main {
  width: 100%;
}

#information {
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

#information ul li {
  padding: 25px 25px;
  border-top: 1px solid #dee3e6;
  box-sizing: border-box;
}
#information ul li:first-child {
  margin-top: 10px;
}

#information ul li:last-child {
  border-bottom: 1px solid #dee3e6;
}

#information ul li p {
  text-align: left;
  padding-top: 5px;
}

#information ul li a {
  display: block;
  color: #000;
}

#WhatisinQubiz {
  padding: 20px 15px 50px;
}

#WhatisinQubiz img {
  width: 100%;
}

#Ourmission {
  padding: 50px 15px 50px;
  background-color: #e7e7e7;
}

#mission_list li {
  margin: 10px 0;
  border: 2px solid #000;
  border-radius: 3px;
}


.mission_list_num {
  padding: 10px 0;
  border-right: 1px solid #000;
  color: #fff;
}

#Department {
  padding: 25px 15px 25px;
}

#Department article {
  margin-bottom: 10px;
}

#Department article figure img {
  width: 100%;
  vertical-align: bottom;
  margin-top: 20px;
}

#FAQ {
  padding: 15pxpx 15px 50px;
  background-color: #e7e7e7;
}

#Management h2 {
  text-align: center;
}

#Management ul li + li {
  padding-top: 10px;
}

footer {
  width: 100%;
  padding:10px 10px;
  background-color: #000;
  text-align: center;
}

footer ul li {
  display: inline-block;
  justify-content: space-between;
  padding: 10px 10px
}

footer ul li a {
  color: #fff;
}

footer p small {
  height: 30px;
  font-size: 10px;
  line-height: 30px;
  color: #fff;
}
